{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".huskyrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".lintstagedrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".markdownlintrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".versionrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.wxml",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.wxss",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.wxs",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
